:root { --color-black: black; }
:root { --color-blue-dark: #2779BD; }
:root { --color-blue-mid: #3450DD; }
:root { --color-green-dark: #1F9D55; }
:root { --color-green-mid: #38DD52; }
:root { --color-red-dark: #CC1F1A; }
:root { --color-red-mid: #FF443F; }
:root { --color-white: white; }
:root { --size-0: 0; }
:root { --size-1: 0.25rem; }
:root { --size-2: 0.5rem; }
:root { --size-3: 0.75rem; }
:root { --size-4: 1rem; }

.clr-black { color: black; }
.clr-blue-dark { color: #2779BD; }
.clr-blue-mid { color: #3450DD; }
.clr-green-dark { color: #1F9D55; }
.clr-green-mid { color: #38DD52; }
.clr-red-dark { color: #CC1F1A; }
.clr-red-mid { color: #FF443F; }
.clr-white { color: white; }

.bgclr-black { background-color: black; }
.bgclr-blue-dark { background-color: #2779BD; }
.bgclr-blue-mid { background-color: #3450DD; }
.bgclr-green-dark { background-color: #1F9D55; }
.bgclr-green-mid { background-color: #38DD52; }
.bgclr-red-dark { background-color: #CC1F1A; }
.bgclr-red-mid { background-color: #FF443F; }
.bgclr-white { background-color: white; }
.hcs\:bgclr-black:hover { background-color: black; }
.hcs\:bgclr-black:focus { background-color: black; }
.hcs\:bgclr-blue-dark:hover { background-color: #2779BD; }
.hcs\:bgclr-blue-dark:focus { background-color: #2779BD; }
.hcs\:bgclr-blue-mid:hover { background-color: #3450DD; }
.hcs\:bgclr-blue-mid:focus { background-color: #3450DD; }
.hcs\:bgclr-green-dark:hover { background-color: #1F9D55; }
.hcs\:bgclr-green-dark:focus { background-color: #1F9D55; }
.hcs\:bgclr-green-mid:hover { background-color: #38DD52; }
.hcs\:bgclr-green-mid:focus { background-color: #38DD52; }
.hcs\:bgclr-red-dark:hover { background-color: #CC1F1A; }
.hcs\:bgclr-red-dark:focus { background-color: #CC1F1A; }
.hcs\:bgclr-red-mid:hover { background-color: #FF443F; }
.hcs\:bgclr-red-mid:focus { background-color: #FF443F; }
.hcs\:bgclr-white:hover { background-color: white; }
.hcs\:bgclr-white:focus { background-color: white; }
.hvr\:bgclr-black:hover { background-color: black; }
.hvr\:bgclr-blue-dark:hover { background-color: #2779BD; }
.hvr\:bgclr-blue-mid:hover { background-color: #3450DD; }
.hvr\:bgclr-green-dark:hover { background-color: #1F9D55; }
.hvr\:bgclr-green-mid:hover { background-color: #38DD52; }
.hvr\:bgclr-red-dark:hover { background-color: #CC1F1A; }
.hvr\:bgclr-red-mid:hover { background-color: #FF443F; }
.hvr\:bgclr-white:hover { background-color: white; }
@media (min-width: 750px) { .md\:bgclr-red-mid { background-color: #FF443F; } }
@media (min-width: 750px) { .md\:bgclr-red-dark { background-color: #CC1F1A; } }
@media (min-width: 750px) { .md\:bgclr-blue-dark { background-color: #2779BD; } }
@media (min-width: 750px) { .md\:bgclr-white { background-color: white; } }
@media (min-width: 750px) { .md\:bgclr-black { background-color: black; } }
@media (min-width: 750px) { .md\:bgclr-green-mid { background-color: #38DD52; } }
@media (min-width: 750px) { .md\:bgclr-green-dark { background-color: #1F9D55; } }
@media (min-width: 750px) { .md\:bgclr-blue-mid { background-color: #3450DD; } }
@media (min-width: 1000px) { .lg\:bgclr-green-mid { background-color: #38DD52; } }
@media (min-width: 1000px) { .lg\:bgclr-green-dark { background-color: #1F9D55; } }
@media (min-width: 1000px) { .lg\:bgclr-black { background-color: black; } }
@media (min-width: 1000px) { .lg\:bgclr-red-dark { background-color: #CC1F1A; } }
@media (min-width: 1000px) { .lg\:bgclr-red-mid { background-color: #FF443F; } }
@media (min-width: 1000px) { .lg\:bgclr-blue-dark { background-color: #2779BD; } }
@media (min-width: 1000px) { .lg\:bgclr-blue-mid { background-color: #3450DD; } }
@media (min-width: 1000px) { .lg\:bgclr-white { background-color: white; } }

.p-0 { padding: 0; }
.p-1 { padding: 0.25rem; }
.p-2 { padding: 0.5rem; }
.p-3 { padding: 0.75rem; }
.p-4 { padding: 1rem; }
.p-b-0 { padding-bottom: 0; }
.p-b-1 { padding-bottom: 0.25rem; }
.p-b-2 { padding-bottom: 0.5rem; }
.p-b-3 { padding-bottom: 0.75rem; }
.p-b-4 { padding-bottom: 1rem; }
.p-l-0 { padding-left: 0; }
.p-l-1 { padding-left: 0.25rem; }
.p-l-2 { padding-left: 0.5rem; }
.p-l-3 { padding-left: 0.75rem; }
.p-l-4 { padding-left: 1rem; }
.p-r-0 { padding-right: 0; }
.p-r-1 { padding-right: 0.25rem; }
.p-r-2 { padding-right: 0.5rem; }
.p-r-3 { padding-right: 0.75rem; }
.p-r-4 { padding-right: 1rem; }
.p-t-0 { padding-top: 0; }
.p-t-1 { padding-top: 0.25rem; }
.p-t-2 { padding-top: 0.5rem; }
.p-t-3 { padding-top: 0.75rem; }
.p-t-4 { padding-top: 1rem; }
.p-x-0 { padding-left: 0; padding-right: 0; }
.p-x-1 { padding-left: 0.25rem; padding-right: 0.25rem; }
.p-x-2 { padding-left: 0.5rem; padding-right: 0.5rem; }
.p-x-3 { padding-left: 0.75rem; padding-right: 0.75rem; }
.p-x-4 { padding-left: 1rem; padding-right: 1rem; }
.p-y-0 { padding-top: 0; padding-bottom: 0; }
.p-y-1 { padding-top: 0.25rem; padding-bottom: 0.25rem; }
.p-y-2 { padding-top: 0.5rem; padding-bottom: 0.5rem; }
.p-y-3 { padding-top: 0.75rem; padding-bottom: 0.75rem; }
.p-y-4 { padding-top: 1rem; padding-bottom: 1rem; }

.m-0 { margin: 0; }
.m-1 { margin: 0.25rem; }
.m-2 { margin: 0.5rem; }
.m-3 { margin: 0.75rem; }
.m-4 { margin: 1rem; }
.m-b-0 { margin-bottom: 0; }
.m-b-1 { margin-bottom: 0.25rem; }
.m-b-2 { margin-bottom: 0.5rem; }
.m-b-3 { margin-bottom: 0.75rem; }
.m-b-4 { margin-bottom: 1rem; }
.m-l-0 { margin-left: 0; }
.m-l-1 { margin-left: 0.25rem; }
.m-l-2 { margin-left: 0.5rem; }
.m-l-3 { margin-left: 0.75rem; }
.m-l-4 { margin-left: 1rem; }
.m-r-0 { margin-right: 0; }
.m-r-1 { margin-right: 0.25rem; }
.m-r-2 { margin-right: 0.5rem; }
.m-r-3 { margin-right: 0.75rem; }
.m-r-4 { margin-right: 1rem; }
.m-t-0 { margin-top: 0; }
.m-t-1 { margin-top: 0.25rem; }
.m-t-2 { margin-top: 0.5rem; }
.m-t-3 { margin-top: 0.75rem; }
.m-t-4 { margin-top: 1rem; }
.m-x-0 { margin-left: 0; margin-right: 0; }
.m-x-1 { margin-left: 0.25rem; margin-right: 0.25rem; }
.m-x-2 { margin-left: 0.5rem; margin-right: 0.5rem; }
.m-x-3 { margin-left: 0.75rem; margin-right: 0.75rem; }
.m-x-4 { margin-left: 1rem; margin-right: 1rem; }
.m-y-0 { margin-top: 0; margin-bottom: 0; }
.m-y-1 { margin-top: 0.25rem; margin-bottom: 0.25rem; }
.m-y-2 { margin-top: 0.5rem; margin-bottom: 0.5rem; }
.m-y-3 { margin-top: 0.75rem; margin-bottom: 0.75rem; }
.m-y-4 { margin-top: 1rem; margin-bottom: 1rem; }

.br-0 { border-radius: 0; }
.br-1 { border-radius: 4px; }

.bw-0 { border-width: 0; }
.bw-1 { border-width: 1px; }

.csr-ptr { cursor: pointer; }
.hcs\:csr-ptr:hover { cursor: pointer; }
.hcs\:csr-ptr:focus { cursor: pointer; }
.hvr\:csr-ptr:hover { cursor: pointer; }

.stack-x-0 > * + * { margin-left: 0; } 
.stack-x-0 > * { margin-right: 0; } 
.stack-x-0 > *:first-child { margin-left: 0; } 
.stack-x-1 > * + * { margin-left: 0.25rem; } 
.stack-x-1 > * { margin-right: 0; } 
.stack-x-1 > *:first-child { margin-left: 0; } 
.stack-x-2 > * + * { margin-left: 0.5rem; } 
.stack-x-2 > * { margin-right: 0; } 
.stack-x-2 > *:first-child { margin-left: 0; } 
.stack-x-3 > * + * { margin-left: 0.75rem; } 
.stack-x-3 > * { margin-right: 0; } 
.stack-x-3 > *:first-child { margin-left: 0; } 
.stack-x-4 > * + * { margin-left: 1rem; } 
.stack-x-4 > * { margin-right: 0; } 
.stack-x-4 > *:first-child { margin-left: 0; } 

.stack-y-0 > * + * { margin-top: 0; } 
.stack-y-0 > * { margin-bottom: 0; } 
.stack-y-0 > *:first-child { margin-top: 0; } 
.stack-y-1 > * + * { margin-top: 0.25rem; } 
.stack-y-1 > * { margin-bottom: 0; } 
.stack-y-1 > *:first-child { margin-top: 0; } 
.stack-y-2 > * + * { margin-top: 0.5rem; } 
.stack-y-2 > * { margin-bottom: 0; } 
.stack-y-2 > *:first-child { margin-top: 0; } 
.stack-y-3 > * + * { margin-top: 0.75rem; } 
.stack-y-3 > * { margin-bottom: 0; } 
.stack-y-3 > *:first-child { margin-top: 0; } 
.stack-y-4 > * + * { margin-top: 1rem; } 
.stack-y-4 > * { margin-bottom: 0; } 
.stack-y-4 > *:first-child { margin-top: 0; }